<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <h1>Pandora's Box</h1>
    <form method="POST">
        <label for="first_file">First File Path:</label>
        <input name="first_file" id="first-input">
        <br><br>
        <label for="second_file">Second File Path:</label>
        <input name="second_file" id="second-input">
        <br><br>
        <input type="submit" id="submit-button">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--<script src="static/app.js"></script>-->
  </body>
</html>